@import url("../../header.css");
@import url("../../info_card.css");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: black;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameWindow{
    background-color: white;
    width: 550px;
    height: 550px;
    border: 2px solid var(--accent-red);
    margin-top: 80px;
    box-shadow: 0 0 15px red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    width: 500px;
    height: 5px;
    background-color: black;
}


#board {
    width: 450px;
    height: 450px;
    /* background-color: gray; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 147px;
    height: 147px;
    
    /* Text */
    font-size: 150px;
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.winner {
    background-color: lightgray;
    color: red;
}


.horizontal-line {
    border-bottom: 3px solid black;
}

.vertical-line {
    border-right: 3px solid black;
}

